body {
  font-family: "Calibri", "Ping Fang";
}
.elli {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.img-scale {
  overflow: hidden;
}
.img-scale img {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.img-scale:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.pc-nav-box {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  border-bottom: 1px solid #575757;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pc-nav-box .lang-en,
.pc-nav-box .lang-cn {
  border: 1px solid #d4d4d2;
  padding: 5px 7px;
  display: inline-block;
  background-color: #3b3b3a;
  color: #fff;
  margin: 30px 10px;
  float: right;
  text-decoration: none;
}
.pc-nav-box .lang-en.active,
.pc-nav-box .lang-cn.active {
  background-color: #d4d4d2;
  color: #3b3b3a;
}
.pc-nav-box .logo {
  line-height: 100px;
  padding: 0 10px;
  height: 100px;
}
.pc-nav-box .logo img {
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.pc-nav-box .navbar-form-pc {
  margin-top: -1px;
  margin-bottom: -1px;
}
.pc-nav-box .navbar-form-pc .form-group {
  position: relative;
}
.pc-nav-box .navbar-form-pc .search {
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: 0;
  color: #fff;
  margin-top: -16px;
  line-height: 30px;
}
.pc-nav-box .search-pc {
  background: transparent;
  color: #fff;
}
.pc-nav-box .navbar-toggle-pc {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pc-nav-box .navbar-form-pc {
  background: #e7e7e7;
  color: #555;
}
.pc-nav-box .navbar-form-pc .search-pc {
  color: #555;
}
.pc-nav-box .navbar-form-pc .search-pc:focus {
  border-color: #12a050;
}
.pc-nav-box .navbar-form-pc .search {
  color: #555!important;
}
.pc-nav-box .pc-nav {
  margin: 0 -15px;
}
.pc-nav-box .pc-nav > li > a {
  background: #e7e7e7;
  color: #555;
}
.pc-nav-box .pc-nav > li > a:focus,
.pc-nav-box .pc-nav > li > a:hover,
.pc-nav-box .pc-nav > .active > a:hover {
  background: #12a050!important;
  color: #fff;
}
.pc-nav-box .dropdown-pc {
  background-color: #e7e7e7;
  padding: 1px 0;
}
.pc-nav-box .dropdown-pc > .dropdown-menu > li > a {
  background: #e7e7e7;
  color: #555;
}
.pc-nav-box .dropdown-pc > .dropdown-menu > li > a:focus,
.pc-nav-box .dropdown-pc > .dropdown-menu > li > a:hover {
  background: #12a050!important;
  color: #fff!important;
}
.abp .swiper-pagination-bullet,
.banpage .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #727272;
  opacity: 1;
}
.abp .swiper-pagination-bullet.swiper-pagination-bullet-active,
.banpage .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #2eae41;
}
.index-baner {
  height: 600px;
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.index-baner .ban-w-1 {
  font-size: 26px;
  color: #fff;
  margin-top: 235px;
}
.index-baner .ban-w-2 {
  font-size: 58px;
  color: #fff;
  margin-top: 30px;
}
.index-baner .ban-w-3 {
  font-size: 16px;
  color: #b4b4b4;
  margin-top: 20px;
}
.about-box {
  background-color: #fff;
  padding: 50px 0 60px;
}
.about-box .a-title {
  font-size: 30px;
  color: #272727;
  margin-bottom: 20px;
}
.about-box .a-line {
  width: 50px;
  height: 3px;
  background: #2eae41;
  display: block;
  margin-bottom: 20px;
}
.about-box .a-infos {
  font-size: 20px;
  color: #4c4c4c;
}
.about-box .a-imgs {
  padding: 30px 0;
}
.about-box .a-imgs img {
  width: 100%;
}
.about-box .a-r-img img {
  width: 100%;
}
.about-box .about-row {
  padding: 20px 0;
}
.about-box .about-row .item {
  text-align: center;
}
.about-box .about-row img {
  height: 72px;
  margin-bottom: 10px;
}
.about-box .about-row .name {
  font-size: 20px;
  color: #a3a3a3;
}
.about-box .about-row .item:hover .name {
  color: #2eae41;
  font-weight: bold;
}
.product-box {
  padding: 40px 0 90px;
  background: url(../images/prodcutbg.png) center center no-repeat;
  background-size: auto 100%;
  padding: 40px 0 70px;
}
.product-box .cocos img {
  max-width: 100%;
}
.product-box .box-title {
  color: #fff;
}
.product-box .pro-desc {
  font-size: 20px;
  color: #c6c6c6;
  margin-bottom: 35px;
}
.product-box .div-75 {
  width: 100%;
  position: relative;
  height: 100%;
}
.product-box .div-75 .r {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.product-box .div-75 .r img {
  min-width: 100%;
  min-height: 100%;
}
.product-box .div-75:before {
  content: '';
  padding-top: 78%;
  display: block;
}
.product-box .pro-sw {
  position: relative;
  text-align: center;
}
.product-box .pro-sw .propage {
  bottom: -40px;
}
.product-box .pro-sw .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #727272;
  opacity: 1;
}
.product-box .pro-sw .swiper-pagination-bullet-active {
  background: #2eae41;
}
.choose-box {
  background: #fff;
  padding: 40px 0 40px;
}
.choose-box .cho-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.choose-box .cho-img:before {
  content: '';
  display: block;
  padding-top: 80%;
}
.choose-box .cho-img .imgb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.choose-box .cho-img img {
  min-width: 100%;
  min-height: 100%;
}
.choose-box .name {
  font-size: 20px;
  color: #272727;
  line-height: 70px;
}
.choose-box .name .i {
  margin-right: 10px;
  height: 25px;
  display: inline-block;
}
.talent-box {
  padding: 40px 0 50px;
  background: url(../images/prodcutbg.png) center center no-repeat;
  background-size: cover;
}
.talent-box .box-title {
  color: #fff;
}
.talent-box .talent-item {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.talent-box .talent-item .t-img {
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 140px;
  height: 140px;
  background-size: 100% auto;
}
.talent-box .talent-item .i-english {
  background: url(../images/englisht.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-english:hover {
  background: url(../images/englisht-hover.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-team {
  background: url(../images/teamt.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-team:hover {
  background: url(../images/teamt-hover.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-develop {
  background: url(../images/devlopt.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-develop:hover {
  background: url(../images/devlopt-hover.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-platform {
  background: url(../images/recruit.png) 0 0 no-repeat;
}
.talent-box .talent-item .i-platform:hover {
  background: url(../images/recruit-hover.png) 0 0 no-repeat;
}
.talent-box .talent-item .t-name {
  color: #fff;
  font-size: 24px;
}
.talent-box .talent-item .t-line {
  display: inline-block;
  height: 2px;
  width: 55px;
  background-color: #2eae41;
  margin-bottom: 10px;
}
.talent-box .talent-item .desc {
  font-size: 20px;
  color: #a0a0a0;
}
.ourteam-box {
  padding: 40px 15px 50px;
}
.ourteam-box .imgb {
  margin-top: 30px;
}
.ourteam-box .imgb img {
  width: 100%;
}
.ourteam-box .team-desc {
  font-size: 20px;
  color: #4c4c4c;
}
.ourteam-box .tem-box {
  position: relative;
  padding: 30px 0 10px;
}
.ourteam-box .tem-box .teamitem {
  height: 350px;
  padding: 0 55px;
}
.ourteam-box .tem-box .teamitem .img {
  overflow: hidden;
  text-align: center;
  height: 100%;
  position: relative;
  width: 100%;
}
.ourteam-box .tem-box .teamitem .img img {
  min-width: 100%;
  min-height: 100%;
}
.ourteam-box .tem-box .teamitem .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 70px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  margin: 0;
}
.ourteam-box .tem-box .prev {
  width: 35px;
  height: 69px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../images/prev.png) center center no-repeat;
  z-index: 999;
}
.ourteam-box .tem-box .next {
  width: 35px;
  height: 69px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../images/next.png) center center no-repeat;
  z-index: 999;
}
.footer {
  background: #191919;
}
.footer .ft-nav {
  padding: 25px 0;
  text-align: center;
  font-size: 0;
  border-bottom: 1px solid #424141;
}
.footer .ft-nav a {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 0 10px -1px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  line-height: 1;
}
.ft-infos {
  text-align: center;
  padding: 55px 20px 60px;
}
.ft-infos .foot {
  margin-bottom: 30px;
}
.ft-infos .role {
  font-size: 20px;
  color: #c7c6c6;
  margin-bottom: 10px;
}
.ft-infos .power {
  font-size: 18px;
  color: #5f5f5f;
}
.box-title {
  text-align: center;
  color: #1e1d1e;
  font-size: 40px;
  position: relative;
  margin-bottom: 60px;
}
.box-title:after {
  width: 77px;
  height: 3px;
  background: #2eae41;
  display: block;
  content: '';
  position: absolute;
  top: 57px;
  left: 50%;
  margin-left: -39px;
}
.i-m-box {
  display: none;
}
.i-m-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1055;
  background: rgba(0, 0, 0, 0.7);
}
.i-m-main {
  position: fixed;
  left: 70px;
  right: 70px;
  top: 150px;
  z-index: 1058;
}
.i-m-main .close-modal {
  width: 36px;
  height: 36px;
  position: absolute;
  right: -18px;
  top: -18px;
  z-index: 2056;
  background: url(../images/close.png) no-repeat;
  display: block;
}
.i-m-main .mo-img {
  width: 100%;
}
.i-m-main .mo-img img {
  width: 100%;
}
.page-top-black {
  height: 100px;
  background: #262626;
}
.page-top {
  height: 140px;
  display: block;
  background: url(../images/page-top-m.png) center center no-repeat;
  background-size: cover;
  position: relative;
}
.page-top .t {
  font-size: 40px;
  color: #282828;
  position: absolute;
  left: 15px;
  top: 50%;
}
.page-box {
  padding: 50px 15px 50px;
  background: #fff;
}
.page-box .page-content .p {
  font-size: 20px;
  color: #4c4c4c;
}
.page-box .page-content .img {
  padding: 10px 0;
}
.page-box .page-content img {
  max-width: 100%;
}
.miles-box {
  background: #ececec;
  padding: 50px 0px 50px;
}
.miles-box .mile-main {
  padding: 20px 0;
}
.miles-box .mile-img {
  width: 100%;
  margin-bottom: 20px;
}
.miles-box .mile-img img {
  max-width: 100%;
}
.miles-box .years {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.miles-box .years .year {
  font-size: 26px;
  color: #4c4c4c;
  margin-left: -15px;
}
.miles-box .years .year:before {
  content: '';
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 2px;
  background: #4c4c4c;
  vertical-align: middle;
  margin-right: 10px;
}
.miles-box .years .en {
  font-size: 20px;
  color: #4c4c4c;
}
.contact-top {
  height: 220px;
  background: url(../images/contacttop.png) no-repeat center center;
  background-size: cover;
}
.contac-box {
  padding: 30px 0 30px;
}
.contac-box .ct-top {
  margin-bottom: 20px;
  padding: 0 15px;
}
.contac-box .ct-top .title {
  font-size: 26px;
  color: #272727;
}
.contac-box .ct-top .desc {
  font-size: 20px;
  color: #4c4c4c;
}
.btn-hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-hover:hover {
  font-size: 16px;
}
.social-box {
  padding: 30px 0 60px;
}
.social-box .socal-a {
  font-size: 0;
  text-align: center;
  margin-bottom: 20px;
}
.social-box .socal-a a {
  display: inline-block;
  vertical-align: top;
  padding: 6px 20px;
  margin: 0 5px;
  border: 1px solid #2eae41;
  color: #2eae41;
  font-size: 20px;
  text-decoration: none;
}
.social-box .socal-a a:hover,
.social-box .socal-a a:focus {
  background: #2eae41;
  color: #fff;
}
.social-box .content {
  padding: 10px 0;
}
.social-box .content .title {
  font-size: 26px;
  color: #272727;
  position: relative;
  margin-bottom: 25px;
}
.social-box .content .title:after {
  content: '';
  height: 2px;
  width: 30px;
  background: #2eae41;
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.social-box .content .desc {
  font-size: 20px;
  color: #4c4c4c;
}
.social-box .content img {
  max-width: 100%;
}
.eng-tur {
  padding: 40px 0 60px;
}
.eng-tur .word {
  font-size: 20px;
  color: #4c4c4c;
  margin-bottom: 20px;
}
.eng-tur .teams img {
  width: 100%;
}
.team-build {
  padding: 50px 0;
  background: url(../images/teambuildbg.png) center center no-repeat;
  background-size: cover;
}
.team-build .box-title {
  color: #fff;
}
.team-build .teams {
  width: 100%;
}
.team-build .sesc {
  font-size: 20px;
  color: #c6c6c6;
}
.devlop-box {
  padding: 40px 0;
}
.devlop-box .desc {
  font-size: 20px;
  color: #4c4c4c;
}
.devlop-box .itemimg {
  margin-top: 20px;
}
.devlop-box .itemimg img {
  width: 100%;
}
.recrui {
  background: #ececec;
  padding: 40px 0;
}
.recrui .rec-list {
  width: 100%;
}
.recrui .item {
  background: #fff;
  padding: 1px;
  margin-bottom: 15px;
}
.recrui .name {
  line-height: 70px;
  padding-left: 35px;
  position: relative;
  font-size: 20px;
  color: #4c4c4c;
  margin: 0;
  padding-right: 10px;
}
.recrui .name:hover {
  color: #2eae41;
  font-weight: bold;
}
.recrui .name:before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  background: #2eae41;
  border-radius: 2px;
  position: absolute;
  left: 15px;
  top: 50%;
}
.recrui .time {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  color: #2eae41;
  display: none;
}
.recrui .toggle-name {
  background: #ececec;
  padding: 30px 20px;
  display: none;
}
.recrui .open + .toggle-name {
  display: block;
}
.recrui .desc {
  font-size: 18px;
  color: #5c5c5c;
}
.recrui .a-roles {
  font-size: 0;
}
.recrui .a-roles a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  border: 1px solid #2eae41;
  color: #2eae41;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.recrui .a-roles a:hover {
  background: #2eae41;
  color: #fff;
}
.recrui .a-roles a + a {
  margin-left: 10px;
}
.proce-box {
  padding: 30px 0;
}
.proce-box .g-title {
  font-size: 26px;
  color: #272727;
  margin-bottom: 50px;
  position: relative;
}
.proce-box .g-title:after {
  content: '';
  width: 55px;
  height: 3px;
  display: block;
  background-color: #2eae41;
  position: absolute;
  left: 0;
  top: 50px;
}
.proce-box .title {
  font-size: 26px;
  color: #272727;
}
.proce-box .center {
  text-align: center;
}
.proce-box .desc {
  font-size: 20px;
  color: #4c4c4c;
}
.proce-box .imgbox {
  margin-top: 20px;
}
.proce-box .imgbox img {
  max-width: 100%;
}
.proce-box .center-row {
  width: 1px;
  height: 65px;
  display: block;
  border-left: 1px dotted #2eae41;
  margin: 50px auto;
}
/***************  分割线  *******************/
@media (min-width: 768px) {
  /*768+大屏幕*/
  .search-pc {
    color: #fff!important;
  }
  .pc-nav-box .pc-nav {
    margin: 0 10px;
  }
  .pc-nav-box .navbar-form-pc {
    background: transparent;
  }
  .pc-nav-box .navbar-form-pc .search {
    color: #fff!important;
  }
  .pc-nav > li > a {
    padding: 40px 15px;
    color: #fff!important;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    background: transparent!important;
  }
  .pc-nav > li > a:hover {
    background: transparent!important;
    border-bottom: 1px solid #2eae41;
  }
  .pc-nav > .active > a,
  .pc-nav > .active > a:hover,
  .pc-nav > .active > a:focus {
    background: transparent!important;
    border-bottom: 1px solid #2eae41;
  }
  .navbar-form-pc {
    padding: 33px 10px 33px 0;
    margin-right: 0;
  }
  .pc-nav > .open > a {
    background: transparent!important;
  }
  .dropdown-pc {
    background-color: transparent!important;
  }
  .dropdown-pc > .dropdown-menu > li > a {
    background: #e7e7e7;
    color: #555;
  }
  .dropdown-pc > .dropdown-menu > li > a:focus,
  .dropdown-pc > .dropdown-menu > li > a:hover {
    background: #12a050!important;
    color: #fff!important;
  }
  .dropdown-pc .dropdown-menu {
    background: #e7e7e7;
  }
  .index-baner {
    height: 680px;
  }
  .index-baner .ban-w-1 {
    font-size: 36px;
    margin-top: 250px;
  }
  .index-baner .ban-w-2 {
    font-size: 80px;
    margin-top: 35px;
  }
  .index-baner .ban-w-3 {
    font-size: 22px;
    margin-top: 30px;
  }
  .talent-item .t-name {
    font-size: 20px;
  }
  .talent-item .t-line {
    display: inline-block;
    height: 2px;
    width: 55px;
    background-color: #2eae41;
    margin-bottom: 10px;
  }
  .talent-item .desc {
    font-size: 18px;
    color: #a0a0a0;
  }
  .ourteam-box .tem-box .teamitem {
    height: 310px;
  }
  .swip-ani {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
        transform: scale(0.7);
  }
  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
  }
  .footer .ft-nav a {
    font-size: 18px;
  }
  .ft-infos .role {
    font-size: 18px;
  }
  .ft-infos .power {
    font-size: 16px;
  }
  .i-m-main .mo-img {
    height: 560px;
  }
  .page-top {
    height: 283px;
    background: url(../images/page-top-mm.png) no-repeat;
  }
  .page-top .t {
    font-size: 46px;
    left: 50%;
    margin-left: -375px;
  }
  .page-box .page-content {
    font-size: 18px;
  }
  .contact-top {
    height: 450px;
  }
  .recrui .time {
    display: block;
  }
}
/***************  分割线  *******************/
@media (min-width: 992px) {
  .index-baner {
    height: 770px;
  }
  .index-baner .ban-w-1 {
    font-size: 36px;
    margin-top: 290px;
  }
  .index-baner .ban-w-2 {
    font-size: 80px;
    margin-top: 40px;
  }
  .index-baner .ban-w-3 {
    font-size: 22px;
    margin-top: 40px;
  }
  .about-box {
    background: url(../images/baout-bg.png) center center no-repeat;
    background-size: 1920px 767px;
  }
  .ourteam-box .tem-box .teamitem {
    height: 435px;
  }
  .ft-infos .role {
    font-size: 20px;
  }
  .ft-infos .power {
    font-size: 18px;
  }
  .i-m-main .mo-img {
    height: 630px;
  }
  .i-m-main .mo-img img {
    max-width: 100%;
    min-height: 100%;
  }
  .page-top {
    background: url(../images/page-top.png) no-repeat;
  }
  .page-top .t {
    font-size: 48px;
    left: 50%;
    margin-left: -485px;
  }
  .contact-top {
    height: 550px;
  }
}
/***************  分割线  *******************/
@media (min-width: 1200px) {
  .page-top .t {
    left: 50%;
    margin-left: -600px;
  }
  .product-box {
    background-size: cover;
  }
}
